@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="ImportImages">Select Files</button>

@numFiles were selected.

<h2>Platform is @platform</h2>

@code {

    int numFiles { get; set; } = 0;
    string platform = "";

    protected override void OnInitialized()
    {
        platform = GetPlatform();
    }

    public string GetPlatform()
    {
        return System.Runtime.InteropServices.RuntimeInformation.RuntimeIdentifier;
    }

    async void ImportImages()
    {
        try
        {
            var customFileType = new FilePickerFileType(new Dictionary<DevicePlatform, IEnumerable<string>>
        {
                    { DevicePlatform.WinUI, new[] { ".jpg", ".jpeg", ".png" } },
                    { DevicePlatform.MacCatalyst, new[] { "jpg", "jpeg", "png" } },
                });

            PickOptions options = new()
            {
                PickerTitle = "Please select jpg or png files",
                FileTypes = customFileType
            };

            var files = await FilePicker.Default.PickMultipleAsync(options);

            if (files != null)
            {
                numFiles = files.Count();
            }
            else
            {
                numFiles = 0;
            }

            StateHasChanged();

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }



    }

